<div id="footer">
    <div class="container">


        <div class="row align-items-end">

            <div class="col-12 col-md-8 text-center text-lg-left mb-3 mb-lg-0">

                <div class="logos_footer">

                    <a href="/"><img class="pr-4" src="{{ theme.link }}//img/uy_logo2.svg" alt="Logo de Capítulo Uruguay"></a>
                    
                    <img class="pr-4" src="{{ theme.link }}//img/Line 1.svg" alt="línea divisora">
                    
                    <a href="https://www.redipub.org/" target="blank"><img src="{{ theme.link }}//img/red_logo.svg"
                            alt="Logo de Red Iberoamericana de investigadores en publicidad"></a>


                </div>


            </div>

            <div class="col-12 col-md-4 ">
                <p class="small footer_text text-center text-lg-right">Capítulo Uruguay © {{"now"|date('Y')}}</p>
            </div>

        </div>
    </div>
</div>
{{function('wp_footer')}}