{% extends "base.twig" %}

{% block content %}

      <!-- Header -->
    <div id="header_img" style ="background-image: url('{{ post.thumbnail.src }}');"></div>

    <!-- Contact -->
    <div class="contact py-5">
        <div class="container">

            <div class="row">
                
                <div class="col-12 col-md-7">
                    <h2 class="page_title">{{post.title}}</h2>
                    <hr class="divider">

                    {{post.content}}

                    <!--<form>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Nombre Completo" required>
                            </div>
                            <div class="col">
                                <input type="email" class="form-control" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1"></label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="9"
                                        placeholder="Su mensaje" required></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-7">
                                <p class="small note"> <b>*Campos Obligatorios</b></p>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-5 text-center text-sm-right">
                                <button type="submit" class="btn-enviar btn btn-dark mb-4 mb-lg-0">enviar</button>
                            </div>
                        </div>
                    </form>-->

                    <hr class="divider_bottom divider_cel">

                </div>

                <div class="col"></div>

                <div class="contact_data col-0 col-md-4">
                    
                    <h4>{{post.meta('titulo_contacto')}}</h4>
                    <hr class="divider">
                    <p> <span class="contact_mail">{{ post.meta('email') }} </span> <br>
                    {{ post.meta('telefono') }}</span></p>

                </div>
            </div>

        </div>

    </div>

{% endblock %}